body {
  font-family: arial, sans-serif;
  background-image: linear-gradient(to right, #ffffff, rgb(170, 201, 247));
}

h1 {
  color: blue;
  font-weight: 500;
}
h2 {
  color: blue;
  font-weight: 400;
}
h3 {
  color: #70757a;
  font-size: small;
  height: 12;
  line-height: 5px;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  color: blue;
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 29px;
  line-height: 19.2px;
  list-style: none;
}
weather-forecast {
  margin-top: 20px;
  text-align: center;
}
weather-forecast-date {
  font-size: 16px;
  color: black;
}
weather-forecast-temperatures {
  font-size: 13px;
}
